<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
	</configSections>
	<StructureMap defaultAssembly="IoCContainers">
		<DefaultInstance PluginType="IoCContainers.Components.Services.IWriteString, IoCContainersStructureMap" PluggedType="IoCContainers.Components.Services.ConsoleWriteString, IoCContainersStructureMap" Scope="Singleton"/>
		<DefaultInstance PluginType="IoCContainers.Components.Services.IClearScreen, IoCContainersStructureMap" PluggedType="IoCContainers.Components.Services.ConsoleClearScreen, IoCContainersStructureMap" Scope="Singleton"/>
		<AddInstance Key="Alarm" PluginType="IoCContainers.Components.Functions.IFunctionState, IoCContainersStructureMap" PluggedType="IoCContainers.Components.Functions.AlarmFunctionState, IoCContainersStructureMap"/>
		<AddInstance Key="NewLine" PluginType="IoCContainers.Components.Functions.IFunctionState, IoCContainersStructureMap" PluggedType="IoCContainers.Components.Functions.NewLineFunctionState, IoCContainersStructureMap"/>
		<AddInstance Key="Computer" PluginType="IoCContainers.Components.Functions.IFunctionState, IoCContainersStructureMap" PluggedType="IoCContainers.Components.Functions.CalculatorFunctionState, IoCContainersStructureMap"/>
	</StructureMap>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
